﻿@model EmployeeViewModel

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a  href="#updateModal" data-toggle="modal" onclick="reflectDialog(null)">Create New</a>
</p>
<table class="table table-hover" id="searchResult">
    <thead>
        <tr>
        <tr>
            <th>社員ID</th>
            <th>社員名</th>
            <th>フリガナ</th>
            <th>メールアドレス</th>
            <th>パスワード</th>
            <th>所属部署</th>
            <th>削除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.employees)
        {
            <tr>
                <td>
                    <a href="#updateModal" data-toggle="modal"
                       onclick="reflectDialog(@emp.employeeId)">@emp.employeeId</a>
                <td>@emp.employeeName</td>
                <td>@emp.employeeKana</td>
                <td>@emp.mailAddress</td>
                <td>@emp.password</td>
                @foreach (var dep in Model.departments)
                {
                    if (emp.departmentId == dep.departmentId)
                    {
                        <td>@dep.departmentName</td>
                        break;
                    }
                }
                <td>
                    <a href="#deleteModal" data-toggle="modal"
                       onclick="reflectDelDialog(@emp.employeeId)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="updateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">ユーザ情報－<span id="mode"></span></h4>
            </div>
            <div class="modal-body">
                <div id="updErrors"></div>
                <form action="updateEmp" id="update" name="updateform"
                      class="form-horizontal" method="post">
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="updateInput_empId">社員ID</label>
                        <div class="col-xs-5">
                            <input type="text" name="empId" id="Input_empId" readonly class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="Input_empNm">社員名</label>
                        <div class="col-xs-5">
                            <input type="text" name="empNm" placeholder="社員名" id="Input_empNm"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="Input_empKn">フリガナ</label>
                        <div class="col-xs-5">
                            <input type="text" name="empKn" placeholder="フリガナ" id="Input_empKn"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label" for="Input_mail">メールアドレス</label>
                        <div class="col-xs-5">
                            <input type="text" name="mail" placeholder="メールアドレス" id="Input_mail"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"
                               for="updateInput_changePass">パスワード</label>
                        <div class="col-xs-5">
                            <input type="password" name="changePass" placeholder="パスワード"
                                   class="form-control" />
                        </div>
                        <span class="help-block text-center" id="passTopic">※変更しない場合は未入力</span>
                        <input type="hidden" id="Input_pass" name="pass" />
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"
                               for="Input_passConfirm">再入力</label>
                        <div class="col-xs-5">
                            <input type="password" name="Input_passConfirm"
                                   placeholder="再入力" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label"
                               for="updateInput_department">所属部署</label>
                        <div class="col-xs-5">
                            <select name="department" id="Input_department" onchange="departmentChange();" class="form-control">
                                @foreach (var dep in Model.departments)
                                {
                                    <option value="@dep.departmentId">@dep.departmentName</option>
                                }
                            </select>
                            <input type="hidden" id="Input_depId" name="depId" />
                            <input type="hidden" id="Input_depNm" name="depNm" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btnRegist"
                        onclick="executeUpdate()">
                    更新
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // グローバル変数
    var existsInsError = false;

    // 各ダイアログでの処理
    function departmentChange() {
        $("#Input_depId").val($("#Input_department").val());
        $("#Input_depNm").val($("#Input_department option:selected").text());
    }

    // キー情報の取り込み処理
    function reflectDialog(target) {
        // 入力項目の初期化
        modalInit();


        if (target == null) {
            // 新規登録用モーダル
            $("#mode").text("登録");
            $("#Input_empId").val("IDは自動で割り振られます");
            $("#passTopic").css("visibility", "hidden")

        } else {
            // 更新用モーダル
            $("#mode").text("更新");
            $("#passTopic").css("visibility", "visible")

            $("#Input_empId").val(target);

            // 検索しないで画面のある行からデータを反映
            $("#searchResult tbody tr").each(function () {
                var id = $(this).find("td:nth-child(1)").text();
                if (parseInt(id) == target) {
                    $("#Input_empNm").val($(this).find("td:nth-child(2)").text());
                    $("#Input_empKn").val($(this).find("td:nth-child(3)").text());
                    $("#Input_mail").val($(this).find("td:nth-child(4)").text());
                    $("#Input_pass").val($(this).find("td:nth-child(5)").text());
                    //名称を設定
                    $("#Input_depNm").val($(this).find("td:nth-child(6)").text());
                    //名称から値を取得
                    $("#Input_department option").each(function () {
                        if ($("#Input_depNm").val() == $(this).text()) {
                            $("#Input_depId").val($(this).val());
                        }
                    });
                    //コンボボックスを設定
                    $("#Input_department").val($("#Input_depId").val());
                }
            });
        }
    }

    function modalInit() {
        $("#Input_empId").val('');
        $("#Input_empNm").val('');
        $("#Input_empKn").val('');
        $("#Input_mail").val('');
        $("#Input_depNm").val('');
        $("#Input_department").val('10');
    }
</script>

